In [15]:
# import pandas lib as pd
import pandas as pd
# read by default 1st sheet of an excel file
df= pd.read_excel('datatest.xlsx',header=0, sheet_name="Sheet1")
row_name=df.columns.values
df.insert(2,'sewing',0,True)
df.insert(3,'wating',df['headcount'],True)

In [16]:

def update_sequence(point_check):
    sequence=point_check[1]
    sew_collect=point_check[2]
    df.loc[sequence-1,'sewing']-=sew_collect
    df.loc[sequence-1,'wating']+=sew_collect
    df.loc[sequence-1,'WIP']+=sew_collect
    
def cal_time_check(time,num_seq,sew,list_point_check):
    output=[]
    point_time=time + df.loc[num_seq,'SAM']
    output.append(round(point_time,1))
    output.append(num_seq+1)
    output.append(sew)
    list_point_check.append(output)
    list_point_check.sort()
    
def cal_wip(num_seq,time,list_point_check):
    # num_seq=i ~ row=i-1
    if df.loc[num_seq,'wating'] > 0 and df.loc[num_seq-1,'WIP'] > 0 and df.loc[num_seq-1,'WIP'] <= df.loc[num_seq,'wating']:
        cal_time_check(time,num_seq,df.loc[num_seq-1,'WIP'],list_point_check)
        df.loc[num_seq,'wating']-=df.loc[num_seq-1,'WIP']
        df.loc[num_seq,'sewing']+=df.loc[num_seq-1,'WIP']
        df.loc[num_seq-1,'WIP']=0
        
    if df.loc[num_seq,'wating']> 0 and df.loc[num_seq-1,'WIP']> df.loc[num_seq,'wating']:
        cal_time_check(time,num_seq,df.loc[num_seq,'wating'],list_point_check)
        df.loc[num_seq-1,'WIP']-=df.loc[num_seq,'wating']
        df.loc[num_seq,'wating']=0
        df.loc[num_seq,'sewing']=df.loc[num_seq,'headcount']
tes=1       
def sequence_firt(time_st,time_li,list_point_check):
    df.loc[0,'wating']=0
    df.loc[0,'sewing']=4
    cycle=time_li//df.loc[0,'SAM']
    if time_st==0:
        for cyc in range(0,int(cycle)):
            cal_time_check(cyc*df.loc[0,'SAM'],0,4,list_point_check)
            # print(time)
            # print(".")
        
    # print(time)
    # print(df['WIP'][0])

if __name__=="__main__":
    list_check=[]
    time_step=0
    time_line=36
    for i in range(1,df.shape[0]):
        cal_wip(i,time_step,list_check)
    sequence_firt(time_step,time_line,list_check)
    # print(time_step)
    # print(df)
    # for _ in list_check:
    #     print(_)
    pcheck=list_check.pop(0)
    time_step=pcheck[0]
    # print(pcheck)
    # print(time_step)
    while time_step<= time_line:
        update_sequence(pcheck)
        sequence_firt(time_step,time_line,list_check)
        
        for i in range(1,df.shape[0]):
            cal_wip(i,time_step,list_check)
        # print(time_step)
        # print(df)
        # for _ in list_check:
        #     print(_)
        try:
            pcheck=list_check.pop(0)
            time_step=pcheck[0]
        except:
            break
        # print(pcheck)
        # print(time_step)
print(time_line)
print(df)

36
   sequence    operation  sewing  wating   SAM  headcount  WIP
0         1   Bind Panel       4       0   3.3          4   16
1         2    Over Edge       4       0   3.6          4    5
2         3   Seam Panel      20       0  15.0         20   23
3         4  Seam Crotch       7       0   7.4          7    0
4         5     Hem Legs       7       1   8.6          8    4
5         6     Sew Band       9       0   9.2          9   24

In [19]:
# import pandas lib as pd
import pandas as pd
# read by default 1st sheet of an excel file
df2= pd.read_excel('datatest.xlsx',header=0, sheet_name="Sheet2")
row_name=df2.columns.values
df2.insert(2,'sewing',0,True)
df2.insert(3,'wating',df['headcount'],True)
df2

   sequence            operation  sewing  wating   SAM  headcount  WIP
0         1           Bind Panel       0     4.0   3.3          4    7
1         2            Over Edge       0     4.0   3.6          4   25
2         3  Attach Sling Rubber       0    20.0   6.0          7   10
3         4           Sew Center       0     7.0   8.0          8   14
4         5            Topstitch       0     8.0   4.0          6    8
5         6           Seam Panel       0     9.0  15.0         20   18
6         7          Seam Crotch       0     NaN   7.4          7   10
7         8             Hem Legs       0     NaN   8.6          8    6
8         9             Sew Band       0     NaN   9.2          9    0

In [22]:
# import pandas lib as pd
import pandas as pd
# read by default 1st sheet of an excel file
df3= pd.read_excel('datatest.xlsx',header=0, sheet_name="OPERATION_CONFIG")
row_name=df2.columns.values
df3

     STYLE            OPERATION NEXT_OPERATION
0  STYLE 1           Bind Panel     Seam Panel
1  STYLE 2           Bind Panel     Sew Center
2  STYLE 2            Over Edge     Sew Center
3  STYLE 2           Sew Center      Topstitch
4  STYLE 2  Attach Sling Rubber      Topstitch

In [ ]:
# import pandas lib as pd
import pandas as pd
# read by default 1st sheet of an excel file
df3= pd.read_excel('datatest.xlsx',header=0, sheet_name="OPERATION_CONFIG")
row_name=df2.columns.values
df3

In [ ]:
def check_sequence_firt():